@model MVCBlogSite.Models.Yorum

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 class="col col-md-8">Yorumu Sil</h2>
<br />
<h4 class="col-md-8">Yorumu silmek istediğinize emin misiniz?</h4>
<div class="col-md-8">
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Makale.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Makale.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uye.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uye.KullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-8">
            <input type="submit" value="Sil" class="btn btn-secondary" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
